@{
    ViewData["Title"] = "Something went wrong";
}

<div class="row">
    <div class="col-md-9">
        <h1 style="text-align:center">Something went wrong. Please try again later</h1>
    </div>
    <a class="navbar-brand" style="text-align:center" asp-area="" asp-controller="Home" asp-action="Index">Back to Home page</a>
</div>
